.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
    background: url("img/banjo.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  #navbarHeader{
    background-color: white;
  }
  .jumbotron .container {
    max-width: 40rem;
    background: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    color: white;
  }
  .jumbotron p{
      color: white;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5) ;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }